<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">HUST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <img
            src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-1/438304135_396317986710074_1920678497729403561_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeEaAWudogW84NR7c9u-iw_eUcpYYHx4AuBRylhgfHgC4AWfBW85vjCjbkZSiIWVKZfKPTj2z5D_gcNduVZybqul&_nc_ohc=x954nmQC2F0Q7kNvwFCt0JE&_nc_oc=AdmDvE1Hl6xsA30YjKmSGgoeZmGCmht7Vc-Vpxt7wT5-RDlpsI2onjsKNZunhHAZvYk&_nc_zt=24&_nc_ht=scontent.fhan20-1.fna&_nc_gid=kkMMVqggcpIsAfgbVsZ1ug&oh=00_AfWm8svG1ZNys3QI5FNosYYZuasDCYSt1obZUtrkzx8TSA&oe=68B349FF"
            alt="" class="user-avatar">
          Anh Tài
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
          <a class="dropdown-item" href="/me/stored/news">Tin tức của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>

</nav>